{% extends 'base.html.twig' %}

{% block body_id 'resources' %}

{% block main %}

    <table class="style-table">
        <thead>
            <th>Building</th>
            <th>Level</th>
            <th>Resource Amount</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for building in buildingsToExplore %}
                <tr>
                    <td>{{ building.building.name }}</td>
                    <td>{{ building.buildingLevel }}</td>
                    <td>{{ building.resourceAmount}}</td>
                    <td><a href="{{ path('resource_get', {'id' : building.id} ) }}">Explore</a> </td>
                </tr>
            {%  endfor %}
        </tbody>
    </table>
{% endblock %}

